:root {
    --blubaze: #225ba9;
    --giallobaze: #ffa436;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: auto;
    margin-bottom: 1rem;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    text-align:center ;
    margin-top:0%;
}


.final-choices button {
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    font-size:medium;

}
.box {
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    font-size:medium;
    margin-bottom: 0;

}
.boxrestaliv {
    border-style:double;
    border: 2px solid var(--giallobaze);
    background-color: var(--blubaze) ;
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin-top: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size:medium;
    
}
.boxrestatipo {
    border-style:double;
    border: 2px solid var(--giallobaze);
    background-color: var(--blubaze) ;
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin-top: 0%;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size:medium;
    
}

.choices {
    display: none;
    margin-top: 10px;
}

.choices button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--giallobaze);
    background-color: var(--blubaze);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size:small;
}

.show {
    display: block;
}

.tooltip {
    position: relative;
    display: block;
    width: 100%;
}



.selected-items {
    margin: 20px 0;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.selected-item {
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    max-width: 300px;
    border-collapse: collapse;
    margin: 20px 0;
    border: none; /* Rimuovi i bordi della tabella */
}

table, th, td {
    border: none; /* Rimuovi i bordi delle celle */
}

th, td {
    padding: 10px;
    text-align: center;
    color: #000; /* Imposta il colore del testo in nero */
}
td{
    border:none;
    
}
#simulazione td {
    text-align: left;
    vertical-align: bottom;
}

tr.empty-row {
    height: 10px; /* Aggiunge 10px di spazio tra le righe */
    border-bottom: 1px solid var(--giallobaze);
}

input[type="number"] {
    width: 50px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}
#InputpagaBoxora input[type="number"],
#InputpagaBoxmese input[type="number"] {
    width: 70px;
    margin: -0.6%;
}

.selection-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 340px;
    white-space: nowrap;
}


button {
    background-color: white;
    color: black;
    border-style: groove;
    border-color: var(--giallobaze);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 10px;
    transition: 1,2s;
}

.cerchio {
    width: 50px;
    height: 50px;
    background-color: var(--giallobaze);
    border-radius: 50%;
    border-color: black;
    border-style:double;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: 28rem;
    margin-bottom: -2.5rem;
    

}

button:hover {
    background-color: var(--giallobaze) /* Leggero effetto hover */

}
/*per far uscire il titolo diviso in 2 */
.grande{display:block;}
.piccolo{display:none;}

.container {
    display: flex;
    gap: 20px; /* Spazio tra gli elementi, puoi regolarlo secondo le tue esigenze */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea etichetta e input a sinistra */
  }
  
  .item label {
    margin-bottom: 5px; /* Spazio tra etichetta e input */
  }
  
  .ok {
    border-color: var(--giallobaze);
    font-size: large;
    text-align: center;
}

#confermanuovocalcolo {
    display: none;
    text-align: center;
}

#confermanuovocalcolo .box {
    background-color: white;
    color:black;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--giallobaze);
    animation: borderColorChange 1.5s infinite;
    margin-bottom: 20px;
}

#confermanuovocalcolo .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@keyframes borderColorChange {
    0% {
        border-color: var(--giallobaze);
    }
    50% {
        border-color: var(--blubaze);
    }
    100% {
        border-color: var(--giallobaze);
    }
}

.informativa {
    position:relative;
    display:inline-block;
    cursor: pointer;
    color: var(--blubaze);
    margin-left: 10px;
}
.informativa .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--blubaze);
    border: 1px solid var(--giallobaze);
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
}
.informativa .tooltip {
    visibility: hidden;
    width: 200px;
    border: 1px solid var(--blubaze);
    background-color: rgba(255, 255, 255, 0.9); /* Bianco semi-trasparente */
    color: black; /* Testo nero */
    text-align: left; 
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiziona sopra l'icona */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    white-space: normal;
}

.informativa .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Punta verso l'icona */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}

.informativa:hover .tooltip,
.informativa.active .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}




/* CSS per schermo piccolo */
@media screen and (max-width: 700px) {
    /*per far uscire il titolo diviso in 2 */
    .grande{display:none;}
    .piccolo{display:block;}

    h1 {
        text-align:center ;
        margin-top:0%;
    }

    table, td {
        display: block;
        width: 100%;
        border:none;
    }
    th {
        display: none;
        border:none;
    }
    thead {
        display: none;
        border:none;
    }
    tr {
        display: block;
        margin-bottom: 5px;
        border:none;
    }
    td {
        display: flex;
        justify-content: space-between;
        align-items: right;
        padding: 5px;
        border:none;
    }
    #ore-tab td::before {
        content: attr(data-label);
        align-items:right ;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        width: 50%;
    }
    .cerchio {
        width: 40px;
        height: 40px;
        background-color: var(--giallobaze);
        border-radius: 50%;
        border-color: black;
        border-style:double;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: black;
        margin: auto;
        margin-top: 1rem;
    }

    /* CSS specifico per la tabella all'interno del div con id 'simulazione' */
    #simulazione table {
        display: table;
    }
    #simulazione tr {
        display: table-row;
    }
    #simulazione td {
        display: table-cell;
        width: auto;
        text-align: left;
        padding: 5px;
        vertical-align: bottom;
    }
    #simulazione th {
        display: table-cell;
        text-align: left;
    }
}
