:root {
    --blubaze: #0047a9;
    --giallobaze: #ffa436;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    accent-color: var(--giallobaze);
}
html {
    height: 100%;
    margin: 0;
}



.content {
    text-align: center;
}

.margin-left-20 {
    margin-left: 4%;
}
.margin-left-5 {
    margin-left: 5%;
}










/* Stile base (non modificato) */
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 8px;
    padding: 5px;
    
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    margin: 0 auto;
}

.btn {
    background-color: var(--blubaze);
    color: var(--giallobaze);
    border: none;
    border-radius: 20%;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: var(--giallobaze);
    color: var(--blubaze);
}

.input-field {
    width: 50px;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 5px;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 3px #007BFF;
}

/* Modifiche per mantenere il layout orizzontale anche su dispositivi mobili */
@media (max-width: 600px) {
    .input-container {
        flex-direction: row; /* Mantieni i pulsanti e l'input in fila */
        justify-content: space-around; /* Distribuisci lo spazio uniformemente */
        padding: 8px; /* Maggiore padding per facilitare l'uso su touch screen */
        align-items: flex;
    }

    td {
        padding: 10px; /* Maggiore separazione tra le celle */
    }
}






.font-medium{

    font-size: medium;
    font-style: oblique;
}

.font-x-small {

    font-size: small;
}
 
h1 {
    text-align:center ;
    margin-top:0%;
}



.box {
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: whitesmoke;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    font-size:medium;
    margin-bottom: 0;
    border-radius: 30px;

}
.boxrestaliv {
    border-style:double;
    border: 2px solid var(--giallobaze);
    background-color: var(--blubaze) ;
    color: whitesmoke;
    padding: 15px;
    margin-top: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size:medium;   
    border-radius: 30px;
}
.boxrestatipo {
    border-style:double;
    border: 2px solid var(--giallobaze);
    background-color: var(--blubaze) ;
    color: whitesmoke;
    padding: 15px;
    margin-top: 0%;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size:medium;
    border-radius: 30px;
}
.boxrestatempo {
    border-style:double;
    border: 2px solid var(--giallobaze);
    background-color: var(--blubaze) ;
    color: whitesmoke;
    padding: 15px;
    margin-top: 0%;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size:medium;
    border-radius: 30px;
}

.choices {
    display: none;
    margin-top: 10px;
}

.choices button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--giallobaze);
    background-color: var(--blubaze);
    color: white;
    border-radius: 20px; /* Aumenta il border-radius per rendere i pulsanti tondeggianti */
    cursor: pointer;
    font-size: 16px; /* Puoi regolare la dimensione del font a tuo piacimento */
    text-align: center; /* Assicurati che il testo sia centrato */
    display: inline-block; /* Assicurati che i pulsanti siano visualizzati come blocchi in linea */
    transition: background-color 0.3s, color 0.3s; /* Aggiungi una transizione per un effetto pi첫 fluido al passaggio del mouse */
}

.choices button:hover {
    background-color: var(--giallobaze); /* Cambia il colore di sfondo al passaggio del mouse */
    color: var(--blubaze); /* Cambia il colore del testo al passaggio del mouse */
}


.show {
    display: block;
}

.tooltip {
    position: relative;
    display: block;
    width: 100%;
}


.selected-items {
    margin: 20px 0;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.selected-item {
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.table-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

table {
    width: 100%;
    max-width: 300px;
    border-collapse: collapse;
    margin: 20px 0;
    border: none; /* Rimuovi i bordi della tabella */
}

table, th, td {
    border: none; /* Rimuovi i bordi delle celle */
}

th, td {
    padding: 10px;
    text-align: center;
    color: #000; /* Imposta il colore del testo in nero */
}

td{
    border:none;
    
}
#simulazione td {
    text-align: left;
    vertical-align: bottom;
}
#simulazione th {
    text-align: left;
    margin-left: 20%;
}

tr.empty-row {
    height: 10px; /* Aggiunge 10px di spazio tra le righe */
    border-bottom: 1px solid var(--giallobaze);
}

input[type="number"] {
    width: 50px;
}

input[type="checkbox"] {
    margin-right: 10px;
    
}


#InputpagaBoxora input[type="number"],
#InputpagaBoxmese input[type="number"] {
    width: 70px;
    margin: -0.6%;
}

.selection-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 340px;
    white-space: nowrap;
}

.button-group.align-center {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    color: black;
    border-style: groove;
    border-color: var(--giallobaze);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 10px;
    transition: 1,2s;
}

.cerchio {
    width: 60px; /* Aumenta leggermente le dimensioni */
    height: 60px; /* Aumenta leggermente le dimensioni */
    background-color: var(--giallobaze); /* Colore base arancione */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 1rem auto; /* Centra il cerchio e aggiunge margine sopra e sotto */
    flex-shrink: 0; /* Impedisce la riduzione del cerchio */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Ombra iniziale */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.cerchio:hover {
    transform: scale(1.5);
    box-shadow: 0 15px 25px  rgba(0, 0, 0, 0.3);
    background-color: #ff7518; /* Cambia il colore di sfondo al passaggio del mouse */
}

button:hover {
    background-color: var(--giallobaze); /* Leggero effetto hover */
}
/*per far uscire il titolo diviso in 2 */
.grande{display:block;}
.piccolo{display:none; align-items: center;}

.container {
    display: flex;
    gap: 20px; /* Spazio tra gli elementi, puoi regolarlo secondo le tue esigenze */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea etichetta e input a sinistra */
  }
  
  .item label {
    margin-bottom: 5px; /* Spazio tra etichetta e input */
  }
  


#confermanuovocalcolo {
    display: none;
    text-align: center;
}

#confermanuovocalcolo #confermanuovo {
    border: 4px solid var(--blubaze);
    animation: borderColorChange 2s infinite linear;}
    


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 10px;
}
#annulla,#conferma {
    border:2px solid var(--blubaze);
    animation: borderColorChange 2s infinite linear;
}

@keyframes borderColorChange {
    0% {
        border-color: var(--giallobaze);
    }
    50% {
        border-color: var(--blubaze);
    }
    100% {
        border-color: var(--giallobaze);
    }
}




@keyframes rimbalzi {
    0%{ transform: translateY();opacity: 0; }
    6%{ transform: translateY(-2);opacity: 0; }
    50% { transform: translateY(-80px); }
    100% { transform: translate();opacity: 1; }
  }
  @keyframes rimbalzo {
    0%{ transform: translate();opacity: 0; }
    100% { transform: translate();opacity: 1; }
  }

 #opzioniaggiuntive .informativa {
    position:relative;
    display:inline-block;
    cursor: pointer;
    color: var(--blubaze);
    margin-left: 10px;
    float: inline-start;
    animation: rimbalzo 1.8s ; /* Applica l'animazione */    
    

}

.informativa {
    position:relative;
    display:inline-block;
    cursor: pointer;
    color: var(--blubaze);
    margin-left: 10px;
    float: inline-start;
    animation: rimbalzi 2s ; /* Applica l'animazione */    
    

}
.informativa .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--blubaze);
    border: 1px solid var(--giallobaze);
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
}
.informativa .tooltip {
    visibility: hidden;
    width: 200px;
    border: 1px solid var(--blubaze);
    background-color: rgba(255, 255, 255, 0.9); /* Bianco semi-trasparente */
    color: black; /* Testo nero */
    text-align: left; 
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiziona sopra l'icona */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s , transform 1s;
    white-space: normal;
}

.informativa .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Punta verso l'icona */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}

.informativa:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}


  /* Stile per gli elementi all'interno delle label */
  #opzioniaggiuntive-label input {
    margin: 0; 
    width: 100%;
    padding: 0; 
  }

  #opzioniaggiuntive input[type="number"] {
    width: max-content; 
    max-width: 86px;  
    height: 30px;     
    padding: 1px;     
    box-sizing: border-box; 
    font-size: 15px;    
}

  
  #opzioniaggiuntive label {
    display: inline-flex; /* Mostra il label e l'input checkbox in una riga */
    align-items: center; /* Allinea verticalmente gli elementi */
  }
  
  #calcolatore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 40px;
    width: 100%;
    overflow: visible;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#selezionicontratto,
#simulazione,
#orariodilavoro,
#opzioniaggiuntive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid var(--blubaze);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(190deg, white, #f0f8ff);
    padding: 20px;
    width: 100%;
    overflow: visible;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center; /* Assicura che il testo sia centrato */
    max-width: 100%;
}


#simulazione table {
    width: 100%;
    margin-top: 1em;
    text-align: left; /* Allinea il testo a sinistra all'interno della tabella */
    align-items: center;
}



.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro gli elementi all'interno di ciascun selection-container */
    width: 100%; /* Assicura che il contenitore prenda tutto lo spazio disponibile */
}

.selection-container label,
.selection-container input,
.selection-container span,
.selection-container h2 {
    text-align: center; /* Centro il testo per ogni elemento */
}




  

/* CSS per schermo piccolo */
@media screen and (max-width: 700px) {
    #opzioniaggiuntive label {
        display: math; /* Mostra il label e l'input checkbox in una riga */
      }
      #autosufficientiBox label{
      white-space: normal;
      display: -webkit-flex;
      }
      #certificatoBox label{
        white-space: normal;
        }
      #specificaVittoAlloggioBox label{
        white-space: normal;
        display: -webkit-flex;
      }  

    .button-container {
        display: flex;
        flex-direction: column; /* Dispone i pulsanti in colonna */
        align-items: center;    /* Centra i pulsanti */
        gap: 10px;              /* Aggiunge uno spazio tra i pulsanti */
    }

    /*per far uscire il titolo diviso in 2 */
    .grande{display:none;}
    .piccolo{display:block;}

    h1 {
        text-align:center ;
        margin-top:0%;
    }

    table, td {
        display: block;
        width: 100%;
        border:none;
    }
    th {
        display: none;
        border:none;
    }
    thead {
        display: none;
        border:none;
    }
    tr {
        display: block;
        margin-bottom: 5px;
        border:none;
    }
    td {
        display: flex;
        justify-content: space-between;
        align-items: right;
        padding: 3px;
        border:none;
    }
    #ore-tab td::before {
        content: attr(data-label);
        align-items:center ;
        font-weight: bold;
        text-align: left;
        display: inline-block;
        width: 50%;
        margin-top: 13px;
    }

    

    .contenitore-flex {
        display: flex; /* Imposta il display a flex per allineare gli elementi in linea */
        align-items: center; /* Centra verticalmente gli elementi */
        
        gap: 20px; /* Distanza tra gli elementi */
    }
    
    .cerchio {
        width: 40px; /* Dimensioni pi첫 piccole */
        height: 40px; /* Dimensioni pi첫 piccole */
        background-color: var(--giallobaze); /* Colore base arancione */
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px; /* Dimensione del testo */
        font-weight: bold;
        color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra iniziale */
        transition: transform 0.5s ease, box-shadow 0.3s ease;
        flex-shrink: 0; /* Impedisce la riduzione del cerchio */
    }
    
    .cerchio:hover {
        transform: scale(1.5); /* Ingrandisce al passaggio del mouse */
        box-shadow: 0 8px 14px rgba(0, 0, 0, 0.5); /* Ombra pi첫 pronunciata */
    }
    
    button:hover {
        background-color: var(--giallobaze); /* Leggero effetto hover */
    }
    
    h3 {
        margin: 0; /* Rimuovi il margine di default per evitare spazi extra */
        font-size: 1.5em; /* Regola la dimensione del testo se necessario */
    }
    


    /* CSS specifico per la tabella all'interno del div con id 'simulazione' */
    #simulazione table {
        display: table;
    }
    #simulazione tr {
        display: table-row;
    }
    #simulazione td {
        display: table-cell;
        width: auto;
        text-align: left;
        padding: 5px;
        vertical-align: bottom;
    }
    #simulazione th {
        display: table-cell;
        text-align: left;
    
    }
}
