:root {
    --blubaze: #0047a9;
    --giallobaze: #ffa436;
}

body {
    font-family: Recoleta, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    accent-color: var(--giallobaze);
}
html {
    height: 100%;
    margin: 0;
}

#boxLivelloContratto,#boxDurataContratto{
    display: none;
}

  .hidden {
    display: none;
  }


.content {
    text-align: center;
}

.margin-left-20 {
    margin-left: 4%;
}
.margin-left-5 {
    margin-left: 5%;
}

.centered-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center; /* Centra verticalmente il contenuto */
}






/* Stile base (non modificato) */
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 8px;
    padding: 5px;
    
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    margin: 0 auto;
}

.btn {
    background-color: var(--blubaze);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: var(--giallobaze);
    color: var(--blubaze);
}

.input-field {
    width: 50px;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 5px;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 3px #007BFF;
}

/* Modifiche per mantenere il layout orizzontale anche su dispositivi mobili */
@media (max-width: 600px) {
    .input-container {
        flex-direction: row; /* Mantieni i pulsanti e l'input in fila */
        justify-content: space-around; /* Distribuisci lo spazio uniformemente */
        padding: 8px; /* Maggiore padding per facilitare l'uso su touch screen */
        align-items: flex;
    }

    td {
        padding: 10px; /* Maggiore separazione tra le celle */
    }
    .box {
        font-family: Recoleta, sans-serif;

        width: 84%; 
    }
}






.font-medium{

    font-size: medium;
    font-style: oblique;
}

.font-x-small {

    font-size: small;
}
 
h1 {
    text-align:center ;
    margin-top:0%;
}




.box {
    position: relative;
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: whitesmoke;
    padding: 15px;
    margin: 1rem;
    margin-top: 0.5rem ;
    width: 100%;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    font-size:medium;
    margin-bottom: 0;
    border-radius: 30px;
    font-family: Recoleta, sans-serif;

    
}
.box.selected {
    background-color: aliceblue; /* Bianco */
    color:var(--blubaze);
}

.choices {
    display: none;
    margin-top: 10px;
}

.choices button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--giallobaze);
    background-color: var(--blubaze);
    color: white;
    border-radius: 20px; /* Aumenta il border-radius per rendere i pulsanti tondeggianti */
    cursor: pointer;
    font-size: 16px; /* Puoi regolare la dimensione del font a tuo piacimento */
    text-align: center; /* Assicurati che il testo sia centrato */
    display: inline-block; /* Assicurati che i pulsanti siano visualizzati come blocchi in linea */
    transition: background-color 0.3s, color 0.3s; /* Aggiungi una transizione per un effetto più fluido al passaggio del mouse */
}

.choices button:hover {
    background-color: var(--giallobaze); /* Cambia il colore di sfondo al passaggio del mouse */
    color: var(--blubaze); /* Cambia il colore del testo al passaggio del mouse */
}


.show {
    display: block;
}

.tooltip {
    position: relative;
    display: block;
    width: 100%;
}


.selected-items {
    margin: 20px 0;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.selected-item {
    border: 1px solid var(--blubaze);
    background-color: var(--blubaze);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.table-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

table {
    width: 100%;
    max-width: 300px;
    border-collapse: collapse;
    margin: 20px 0;
    border: none; /* Rimuovi i bordi della tabella */
}

table, th, td {
    border: none; /* Rimuovi i bordi delle celle */
}

th, td {
    padding: 10px;
    text-align: center;
    color: #000; /* Imposta il colore del testo in nero */
}

td{
    border:none;
    
}
#simulazione td {
    text-align: left;
    vertical-align: bottom;
}
#simulazione th {
    text-align: left;
    margin-left: 20%;
}

tr.empty-row {
    height: 10px; /* Aggiunge 10px di spazio tra le righe */
    border-bottom: 1px solid var(--giallobaze);
}

input[type="number"] {
    width: 50px;
}


/* Modifiche alla checkbox*/
input[type="checkbox"] {
    margin-right: 10px;
    width: 1.2rem;
    height: 1.2rem;
    appearance: none;
    border: 2px solid var(--blubaze);
    border-radius: 7px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}
input[type="checkbox"]::after {
    content: '';
    position: absolute; 
    top:-5%; 
    left: 60%;
    width: 8px;
    height: 16px;
    border: solid  var(--blubaze);
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.3s;
}
input[type="checkbox"]:checked {
    border-color: black;
    background-color: var(--giallobaze);
}
input[type="checkbox"]:checked::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.5);
}
input[type="checkbox"]:hover {
    border-color: var(--giallobaze);
}

.dots {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    width: 1em; /* Space for the dots */
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    visibility: hidden; /* Initially hidden */
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingMessage {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

#spinner {
    display: inline-block;
    margin-left: 10px;
    width: 1em;
    height: 1em;
    border: 0.2em solid rgba(0, 0, 0, 0.1);
    border-top: 0.2em solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;}



#InputpagaBoxora input[type="number"],
#InputpagaBoxmese input[type="number"] {
    width: 70px;
    margin: -0.6%;
}

.selection-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 340px;
    white-space: nowrap;
}

.button-group.align-center {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    color: black;
    border-style: groove;
    border-color: var(--giallobaze);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 10px;
    transition: 1,2s;
}

.cerchio {
    width: 60px; /* Aumenta leggermente le dimensioni */
    height: 60px; /* Aumenta leggermente le dimensioni */
    background-color: var(--giallobaze); /* Colore base arancione */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 1rem auto; /* Centra il cerchio e aggiunge margine sopra e sotto */
    flex-shrink: 0; /* Impedisce la riduzione del cerchio */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Ombra iniziale */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

/* Stili di base per i cerchi */
.cerchio21, .cerchio22, .cerchio23, .cerchio24 {
    width: 38px;
    height: 38px;
    min-width: 38px;  /* Impedisce al cerchio di ridursi */
    min-height: 38px; /* Impedisce al cerchio di ridursi */
    max-width: 38px;  /* Impedisce al cerchio di allargarsi */
    max-height: 38px; /* Impedisce al cerchio di allargarsi */
    background-color: #ffa536f5; /* Colore arancione */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: black;
    margin: 0 10px; /* Aggiunge un margine orizzontale per non attaccare ai bordi */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cerchio21 .cerchio22,.cerchio23,.cerchio24 {
    display: none; 
}
 


/* Colori di sfondo specifici per i cerchi */
.cerchio22 {
    background-color: #ffa536dc;
}

.cerchio23 {
    background-color: #ffa536c2;
}
/* Classe per mostrare la riga */
.show-line::after {
    opacity: 1; /* Rendi visibile la riga */
}




button:hover {
    background-color: var(--giallobaze); /* Leggero effetto hover */
}
/*per far uscire il titolo diviso in 2 */
.grande{display:block;}
.piccolo{display:none; align-items: center;}

.container {
    display: flex;
    gap: 20px; /* Spazio tra gli elementi, puoi regolarlo secondo le tue esigenze */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea etichetta e input a sinistra */
    font-family: Recoleta, sans-serif;

  }
  
  .item label {
    margin-bottom: 5px; /* Spazio tra etichetta e input */
  }


  .stats-container {
    display: flex;
    gap: 40px; /* Maggiore spaziatura tra gli elementi */
    align-items: center; /* Centra gli elementi verticalmente */
    padding: 20px; /* Maggiore spazio interno */
    /*background-color: #ffffff; /* Sfondo bianco per il contenitore */
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombreggiatura leggera per un effetto elevato */
    border-radius: 10px; /* Bordi arrotondati per il contenitore */
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allineamento a sinistra */
    font-family: Recoleta, sans-serif; /* Mantenuto il font originale per coerenza con il tuo design */
}

.stats-item label {
    margin-bottom: 8px; /* Aumento dello spazio sotto l'etichetta */
    color: #333; /* Colore del testo scuro per migliore leggibilità */
    font-size: 1rem; /* Dimensione del testo standard per le etichette */
}

.stats-item span {
    font-size: 1.5rem; /* Dimensione aumentata per i numeri, rendendoli più visibili */
    color: #2a2a2a; /* Colore del testo leggermente più scuro per i numeri */
}


  #conferma{
    background-color: aliceblue;
    border: 2px solid var(--blubaze);
    color: var(--blubaze);
    animation: borderColorChange2 2s infinite linear;
}  
#annulla{
    background-color: var(--blubaze);
    border: 2px solid aliceblue;
    animation: borderColorChange2 2s infinite linear;
}  

  

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 10px;
}

#confermanuovocalcolo {
    display: none;
    text-align: center;
}

 #confermanuovo {
    border: 4px solid var(--blubaze);
    background-color: white;
    animation: borderColorChange 2s infinite linear;
    color:black;
}
    
    

@keyframes borderColorChange {
    0% {
        border-color: var(--blubaze);
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: var(--blubaze);
    }
}
@keyframes borderColorChange2 {
    0% {
        border-color: var(--blubaze);
    }
    50% {
        border-color: aliceblue;
    }
    100% {
        border-color: var(--blubaze);
    }
}

  @keyframes rimbalzo {
    0%{ transform: translate();opacity: 0; }
    100% { transform: translate();opacity: 1; }
  }

 #opzioniaggiuntive .informativa {
    position:relative;
    display:inline-block;
    cursor: pointer;
    color: var(--blubaze);
    margin-right: 1rem;
    font-family: Recoleta, sans-serif;
    float: inline-start;
    animation: rimbalzo 2s ; /* Applica l'animazione */    
    

}

.informativa {
    position:relative;
    display:inline-block;
    cursor: pointer;
    color: var(--blubaze);
    margin-left: 10px;
    float: inline-start;
    animation: rimbalzo 2s ; /* Applica l'animazione */    
    

}
.informativa .circle {
    display: inline-block;
    margin-right: 0.5rem;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--blubaze);
    border: 1px solid var(--giallobaze);
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
}
.informativa .tooltip {
    visibility: hidden;
    width: 200px;
    border: 1px solid var(--blubaze);
    background-color: rgba(255, 255, 255, 0.9); /* Bianco semi-trasparente */
    color: black; /* Testo nero */
    text-align: left; 
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    bottom: 125%; /* Posiziona sopra l'icona */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s , transform 1s;
    white-space: normal;
}

.informativa .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Punta verso l'icona */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}

.informativa:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}


  /* Stile per gli elementi all'interno delle label */


  #opzioniaggiuntive input[type="number"] {
    width: max-content; 
    max-width: 86px;  
    height: 30px;     
    padding: 1px 5px;     
    box-sizing: border-box; 
    font-size: 15px;    
    border: 2px solid var(--giallobaze); /* Bordo verde */
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra */
    transition: all 0.3s ease; /* Transizione fluida */
}

#opzioniaggiuntive input[type="number"]:focus {
    border-color: #e8941f; /* Cambia il colore del bordo quando è focalizzato */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra quando è focalizzato */
    outline: none; /* Rimuove il bordo di default */
    transform: scale(1.05); /* Leggera ingrandimento quando è focalizzato */
}

#opzioniaggiuntive input[type="number"]::placeholder {
    color: #999; /* Colore del placeholder */
    opacity: 1; /* Assicura che il colore sia visibile */
}


  
#calcolatore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 40px;
    width: 100%;
    overflow: visible;
    /* margin: auto; */
    /* margin-top: 2em; */
    /* margin-bottom: 2em; */
}

#selezionicontratto,
#simulazione,
#opzioniaggiuntive ,
#orariodilavoro{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 40px;
        border: 1px solid var(--blubaze);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.3);
        background: linear-gradient(190deg, white, #f0f8ff);
        padding: 20px;
        width: 100%;
        overflow: visible;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center; /* Assicura che il testo sia centrato */
        max-width: 100%;
      
    
}



#simulazione table {
    width: 100%;
    margin-top: 1em;
    text-align: left; /* Allinea il testo a sinistra all'interno della tabella */
    align-items: center;
}



.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro gli elementi all'interno di ciascun selection-container */
    width: 100%; /* Assicura che il contenitore prenda tutto lo spazio disponibile */
}

.selection-container label,
.selection-container input,
.selection-container span,
.selection-container h2 {
    text-align: center; /* Centro il testo per ogni elemento */
}


#orariodilavoro {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    font-family: Recoleta, sans-serif;

}



.table-center {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.table-center th, .table-center td {
    padding: 8px;
    text-align: center;
}




.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
    width: 60px;
    text-align: center;
}

.btn {
    margin: 0 5px;
}

#nuovocalcolo{
    display: none;
}



#opzioniaggiuntive .selection-container {
    width: 100%;
    margin: auto;
    box-sizing: border-box; /* Assicura che padding e bordo siano inclusi nella larghezza */
    padding: 0; /* Rimuove eventuali padding */
}

#opzioniaggiuntive .selection-container * {
    box-sizing: border-box; /* Assicura che padding e bordo siano inclusi nella larghezza per tutti gli elementi all'interno */
}

.subTitleInTipoContratto{
    color: #6d6d6d;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}



.titleSectionInput{

    font-size: 1.8rem;
}

#opzioniaggiuntive h2{
    text-align: center;
}
 
#opzioniaggiuntive label {
    display: math; /* Mostra il label e l'input checkbox in una riga */
  }

  #specificaVittoAlloggioBox label{
    white-space: normal;
    display: -webkit-flex;
  }  



/* CSS per schermo piccolo */
@media screen and (max-width: 700px) {
    .width-empty-cell{
        width: 3%;
    }
    

    .box {
        font-family: Recoleta, sans-serif;

        width: 84%; 
    }

    .cerchio21,.cerchio22,.cerchio23,.cerchio24 {
         margin-left: 0em;
    }


    .table-center th, .table-center td {
        border: none;
    }
    #opzioniaggiuntive label {
        display: math; /* Mostra il label e l'input checkbox in una riga */
      }
      #opzioniaggiuntive {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
      #autosufficientiBox label{
      white-space: normal;
      
      }
      #certificatoBox label{
        white-space: normal;
        }
      #specificaVittoAlloggioBox label{
        white-space: normal;
        display: -webkit-flex;
      }  

    .button-container {
        display: flex;
        flex-direction: column; /* Dispone i pulsanti in colonna */
        align-items: center;    /* Centra i pulsanti */
        gap: 10px;              /* Aggiunge uno spazio tra i pulsanti */
    }

    /*per far uscire il titolo diviso in 2 */
    .grande{display:none;}
    .piccolo{display:block;}

    h1 {
        text-align:center ;
        margin-top:0%;
    }

    table, td {
        display: block;
        width: 100%;
        border:none;
    }
    th {
        display: none;
        border:none;
    }
    thead {
        display: none;
        border:none;
    }
    tr {
        display: block;
        margin-bottom: 5px;
        border:none;
    }
    td {
        display: flex;
        justify-content: space-between;
        align-items: right;
        padding: 3px;
        border:none;
    }
    #ore-tab td::before {
        content: attr(data-label);
        align-items:center ;
        font-weight: bold;
        text-align: left;
        display: inline-block;
        width: 50%;
        margin-top: 13px;
    }

    

    .contenitore-flex {
        display: flex; /* Imposta il display a flex per allineare gli elementi in linea */
        align-items: center; /* Centra verticalmente gli elementi */
        
        gap: 13px; /* Distanza tra gli elementi */
    }
    
    .cerchio {
        width: 40px; /* Dimensioni più piccole */
        height: 40px; /* Dimensioni più piccole */
        background-color: var(--giallobaze); /* Colore base arancione */
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px; /* Dimensione del testo */
        font-weight: bold;
        color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra iniziale */
        transition: transform 0.5s ease, box-shadow 0.3s ease;
        flex-shrink: 0; /* Impedisce la riduzione del cerchio */
    }
    
    .cerchio:hover {
        transform: scale(1.5); /* Ingrandisce al passaggio del mouse */
        box-shadow: 0 8px 14px rgba(0, 0, 0, 0.5); /* Ombra più pronunciata */
    }
    
    button:hover {
        background-color: var(--giallobaze); /* Leggero effetto hover */
    }
    
    h3 {
        margin: 0; /* Rimuovi il margine di default per evitare spazi extra */
        font-size: 1.5em; /* Regola la dimensione del testo se necessario */
    }
    


    /* CSS specifico per la tabella all'interno del div con id 'simulazione' */
    #simulazione table {
        display: table;
    }
    #simulazione tr {
        display: table-row;
    }
    #simulazione td {
        display: table-cell;
        width: auto;
        text-align: left;
        padding: 5px;
        vertical-align: bottom;
    }
    #simulazione th {
        display: table-cell;
        text-align: left;
    
    }
}

.table {
    display: table;
    width: 100%; /* Adatta la larghezza alla finestra del browser */
    margin-top: 3rem;
}
.table-cell {
    display: table-cell;
    vertical-align: middle; /* Centra verticalmente il contenuto nelle celle */
}

.width-empty-cell{
    width: 1.5%;
}


.box-selezione-tipologia-contratto{

    display: flex;
    flex-direction: column; /* Allinea i figli verticalmente */
    gap: 1.5rem; /* Distanza tra i figli */
}

.tipo-contratto{

    margin-top: 2rem;
}


.margin-top-2-rem{
    
    margin-top: 2rem;
}


.payment-container {
    gap:1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.payment-container label {
    font-size: 1rem;
    font-family: Recoleta, sans-serif;
    font-weight: 500;
    color: #333;
    margin-right: 1rem;
}

.input-group {
    display: inline-block;
    margin-top: 1rem;
    align-items: center;
    border-radius: 8px;
}

.input-group input[type="number"] {
    flex-grow: 1;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
}

.input-group .currency {
    padding: 12px 16px;
    font-family: Recoleta, sans-serif;
}

/* Hides the spinner on number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

.buttonCalcola{
    font-family: Recoleta, sans-serif;
    font-weight: 600;
    justify-content: center; /* Centra orizzontalmente il contenuto nel bottone */
}

.layout-container {
    display: flex;
    height: 100%; /* Assicurati che il contenitore esterno abbia altezza definita */
    gap: 0.5rem;
  }

  .navigazione-laterale {
    width: 20%;
    box-sizing: border-box;
  }

  .contenuto-principale {
    width: 80%;
    box-sizing: border-box;
  }



  #buttonCalcola {
    max-width: 100%;  /* Limita la larghezza massima al 100% di quella del #calcolatore */
    max-height: 100vh; /* Altitudine massima impostata sulla stessa del #calcolatore */
    overflow: auto; /* Aggiungi scrollbar se il contenuto eccede la dimensione massima */
    padding: 20px; /* Spazio interno opzionale */
    box-sizing: border-box; /* Include padding e bordo nel calcolo della larghezza */
    margin: auto; /* Centra l'elemento */
    text-align: center; /* Allineamento del testo */
}

.selection-wrapper{
    gap: 1rem;
    display: grid;
}



label {
    margin-bottom: .25rem;
    font-weight: 500;
    
    font-family: Recoleta, sans-serif;
}
